<div class="form-body">
	<%= f.hidden_field :product_id, {value: params[:product_id]} %>
	<div class="form-group form-md-line-input<%' has-error' unless @product_item.errors[:option].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Option</label>
		<div class="col-md-10">
      <%= f.text_field :option, class: "form-control#{' error' unless @product_item.errors[:option].blank?}", placeholder: 'Enter Option', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @product_item.errors[:sku].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">SKU</label>
		<div class="col-md-10">
      <%= f.text_field :sku, class: "form-control#{' error' unless @product_item.errors[:sku].blank?}", placeholder: 'Enter SKU', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @product_item.errors[:price].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Price</label>
		<div class="col-md-10">
		  <div class="input-group">  
  		  <span class="input-group-addon">IDR</span>
        <%= f.text_field :price, class: "form-control#{' error' unless @product_item.errors[:price].blank?}", placeholder: 'Enter Price', id: 'form_control_1', value: number_format(@product_item.price) %>			
      </div>
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @product_item.errors[:sale_price].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Sale Price</label>
		<div class="col-md-10">
		  <div class="input-group">  
  		  <span class="input-group-addon">IDR</span>
        <%= f.text_field :sale_price, class: "form-control#{' error' unless @product_item.errors[:sale_price].blank?}", placeholder: 'Enter Sale Price', id: 'form_control_1', value: number_format(@product_item.sale_price) %>
      </div>
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @product_item.errors[:stock].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Stock</label>
		<div class="col-md-10">
      <%= f.text_field :stock, class: "form-control#{' error' unless @product_item.errors[:stock].blank?}", placeholder: 'Enter Stock', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
  <div class="form-group form-md-line-input<%' has-error' unless @product_item.errors[:publish_at].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Publish Time</label>
		<div class="col-md-6">
			<div class="input-group date form_datetime">
				<%= f.text_field :publish_at, value: datetime_value(@product_item.publish_at), class: "form-control#{' error' unless @product_item.errors[:publish_at].blank?}", size: 16, readonly: 'readonly', placeholder: 'Select Publish Time' %>	
				<span class="input-group-btn">
				<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
	</div>
  <div class="form-group form-md-line-input<%' has-error' unless @product_item.errors[:retract_at].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Retract Time</label>
		<div class="col-md-6">
			<div class="input-group date form_datetime">
				<%= f.text_field :retract_at, value: datetime_value(@product_item.retract_at), class: "form-control#{' error' unless @product_item.errors[:retract_at].blank?}", size: 16, readonly: 'readonly', placeholder: 'Select Retract Time' %>	
				<span class="input-group-btn">
				<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
	</div>
</div>
