<div class="modal-header">
    <h1 class="text-center">Register</h1>
    <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>
</div>
<div class="modal-body">
    <%= form_tag '/admin/signup', method: :post, class: "form col-md-12 center-block", multipart: true do %>
      <div class="form-group">
        <%= email_field_tag 'user[email]', nil, {class: "form-control input-lg", placeholder: "Email"} %>
      </div>
      <div class="form-group">
        <%= password_field_tag 'user[password]', nil, {class: "form-control input-lg", placeholder: "Password"} %>
      </div>
      <div class="form-group">
        <%= password_field_tag 'user[confirm_password]', nil, {class: "form-control input-lg", placeholder: "Confirm Password"} %>
      </div>
      <div class="form-group">
        <%= text_field_tag 'user[username]', nil, {class: "form-control input-lg", placeholder: "Username"} %>
      </div>
      <div class="form-group">
        <%= text_field_tag 'user[first_name]', nil, {class: "form-control input-lg", placeholder: "First Name"} %>
      </div>
      <div class="form-group">
        <%= text_field_tag 'user[last_name]', nil, {class: "form-control input-lg", placeholder: "Last Name"} %>
      </div>
      <div class="form-group">
        <%= button_tag 'Sign Up', name: 'sign_up', class: "btn btn-primary btn-lg btn-block" %><br />
        <span class="pull-right"><%= link_to('Cancel', :action => nil) %></span><span><%= link_to 'Need help?', :action => :help %></span>
      </div>
    <% end %>
</div>
