<div class="form-body">
	<div class="form-group form-md-line-input<%' has-error' unless @banner.errors[:name].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Name</label>
		<div class="col-md-10">
      <%= f.text_field :name, class: "form-control#{' error' unless @banner.errors[:name].blank?}", placeholder: 'Enter Name', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @banner.errors[:link_url].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Link URL</label>
		<div class="col-md-10">
      <%= f.text_field :link_url, class: "form-control#{' error' unless @banner.errors[:link_url].blank?}", placeholder: 'Enter Link URL', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
  <div class="form-group form-md-line-input<%' has-error' unless @banner.errors[:publish_at].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Publish Date</label>
		<div class="col-md-6">
			<div class="input-group date date-picker">
				<%= f.text_field :publish_at, value: datetime_value(@banner.publish_at), class: "form-control#{' error' unless @banner.errors[:publish_at].blank?}", size: 16, readonly: 'readonly', placeholder: 'Select Publish Date' %>	
				<span class="input-group-btn">
				<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
	</div>
  <div class="form-group form-md-line-input<%' has-error' unless @banner.errors[:retract_at].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Retract Date</label>
		<div class="col-md-6">
			<div class="input-group date date-picker">
				<%= f.text_field :retract_at, value: datetime_value(@banner.retract_at), class: "form-control#{' error' unless @banner.errors[:retract_at].blank?}", size: 16, readonly: 'readonly', placeholder: 'Select Retract Date' %>	
				<span class="input-group-btn">
				<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @banner.errors[:image].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Image Upload</label>
 		<div class="col-md-6 fileinput fileinput-new" data-provides="fileinput">
			<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
			  <%= image_tag @banner.image.url(:medium) %>
			</div>
			<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
			<div>
				<span class="btn default btn-file">
  				<span class="fileinput-new">Select image </span>
  				<span class="fileinput-exists">Change </span>
				  <%= f.file_field :image, as: :file, class: "form-control#{' error' unless @banner.errors[:image].blank?}" %>
				</span>
				<a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput">Remove </a>
			</div>
		</div>
	</div>
</div>
