        <div class="form-group">
            <label>Name</label>
            <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
            <!--p class="help-block">Example block-level help text here.</p-->
        </div>
        <div class="form-group">
            <label>Image URL</label>
            <%= f.text_field :image_url, class: 'form-control', placeholder: 'Image URL' %>
            <!--p class="help-block">Example block-level help text here.</p-->
        </div>
        <div class="form-group">
            <label>Link URL</label>
            <%= f.text_field :link_url, class: 'form-control', placeholder: 'Link URL' %>
            <!--p class="help-block">Example block-level help text here.</p-->
        </div>
        <div class="form-group">
            <label>Publish Date</label>
            <%= f.date_field :publish_at, class: 'form-control' %>
        </div>        
        <div class="form-group">
            <label>Retract Date</label>
            <%= f.date_field :retract_at, class: 'form-control' %>
        </div>        
        <div class="form-group">
            <label>Image Upload</label>
            <%= f.file_field :image, as: :file, class: 'form-control' %>
        </div>        
        <% unless @banner.new_record? || !@banner.image.exists? %>
        <div class="form-group">
            <label>Image Tag</label>
            <%= image_tag @banner.image.url(:thumb) %>
        </div>
        <div class="form-group">
            <label>Image Tag</label>
            <%= image_tag @banner.image.url(:medium) %>
        </div>
        <div class="form-group">
            <label>Image Tag</label>
            <%= image_tag @banner.image.url %>
        </div>
        <% end %>
        <!--div class="form-group">
            <label>File input</label>
            <input type="file">
        </div>
        <div class="form-group">
            <label>Text area</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Checkboxes</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Checkbox 1
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Checkbox 2
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Checkbox 3
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Inline Checkboxes</label>
            <label class="checkbox-inline">
                <input type="checkbox">1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox">2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox">3
            </label>
        </div>
        <div class="form-group">
            <label>Radio Buttons</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Radio 1
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio 2
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Radio 3
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Inline Radio Buttons</label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>1
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
            </label>
        </div>
        <div class="form-group">
            <label>Selects</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Multiple Selects</label>
            <select multiple class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div-->
