    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Banners
            <%= link_to 'Add Banner', new_admin_contents_banner_url, class: "btn btn-primary pull-right" %>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- Hover Rows -->
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <%= form_tag  sort_admin_contents_banners_url, {role: 'form', method: 'post'} do |f| %>
                    <div class="table-responsive">
                        <table class="table table-hover sortable sorted_table">
                            <thead>
                                <tr>
                                    <th>Sort</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Image URL</th>
                                    <th>Link URL</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>                              
                                <% @banners.each do |banner| %>
                                <tr class="sort" id="<%= banner.id %>">
                                    <%= hidden_field_tag "banner[sort][#{banner.id}][old]", banner.sort %>
                                    <td><%= text_field_tag "banner[sort][#{banner.id}][new]", banner.sort, class: 'form-control-size', placeholder: 'Sort #', size: 3, maxlength: 3 %></td>
                                    <td><%= image_tag banner.image.url(:thumb) %></td>
                                    <td><%= banner.name %></td>
                                    <td><%= banner.image_url %></td>
                                    <td><%= banner.link_url %></td>
                                    <td>
                                      <%= link_to 'Edit', edit_admin_contents_banner_url(id: banner.id), class: "btn btn-warning" %>
                                      <%= link_to 'Delete', admin_contents_banner_url(id: banner.id), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this banner?" } %>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <div><%= button_tag 'Sort Banner', type: 'submit', class: "btn btn-primary" %></div>
                    <!-- /.table-responsive -->
                    <% end %>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
