  <%= render partial: 'banners/header', locals: {breadcrumbs: ["New"]} %>

  <%= form_for @banner, {url: admin_contents_banners_url, role: 'form', method: 'post', multipart: true, html: {class: 'form-horizontal'}} do |f| %>

  <div class="row">
    <div class="col-md-offset-9 col-md-3">
      <%= button_tag 'Create', type: 'submit', class: "btn btn-primary green" %>
      <%= button_tag 'Reset', class: "btn btn-default", type: 'reset' %>
    </div>
  </div>
  
  <!-- BEGIN PAGE CONTENT-->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN SAMPLE FORM PORTLET-->
			<div class="portlet">
				<div class="portlet-body form">
            
            <%= render partial: 'form', locals: {f: f} %>

				</div>
			</div>
			<!-- END SAMPLE FORM PORTLET-->
		</div>
	</div>
  <!-- END PAGE CONTENT-->
	<% end %>
