        <div class="form-group">
            <label>Email</label>
            <%= f.text_field :email, class: "form-control#{' error' unless @user.errors[:email].blank?}", placeholder: 'Email' %>
            <!--p class="help-block">Example block-level help text here.</p-->
        </div>
        <div class="form-group">
            <label>First Name</label>
            <%= f.text_field :first_name, class: "form-control#{' error' unless @user.errors[:first_name].blank?}", placeholder: 'First Name' %>
            <!--p class="help-block">Example block-level help text here.</p-->
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <%= f.text_field :last_name, class: "form-control#{' error' unless @user.errors[:last_name].blank?}", placeholder: 'Last Name' %>
            <!--p class="help-block">Example block-level help text here.</p-->
        </div>
        <div class="form-group">
            <label>Username</label>
            <%= f.text_field :username, class: "form-control#{' error' unless @user.errors[:username].blank?}", placeholder: 'Username' %>
            <!--p class="help-block">Example block-level help text here.</p-->
        </div>
        <div class="form-group">
            <label>Role</label>
            <%= f.select :role_id, role_options, {}, class: "form-control#{' error' unless @user.errors[:role_id].blank?}" %>
        </div>
        