<%= render partial: 'comics/header', locals: {breadcrumbs: [@comic.name]} %>

<%= form_for @comic, {url: admin_contents_comic_url, role: 'form', method: 'put', multipart: true, html: {class: 'form-horizontal'}} do |f| %>

<div class="row">
  <div class="col-md-offset-7 col-md-5">
    <%= link_to 'Episodes', admin_contents_comic_episodes_url(comic_id: params[:id]), class: "btn btn-primary" %>
    <%= button_tag 'Update', type: 'submit', class: "btn btn-primary green" %>
    <%= button_tag 'Reset', class: "btn btn-default", type: 'reset' %>
  </div>
</div>

<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet">
			<div class="portlet-body form">
          
          <%= render partial: 'form', locals: {f: f} %>

			</div>
		</div>
		<!-- END SAMPLE FORM PORTLET-->
	</div>
</div>
<!-- END PAGE CONTENT-->
<% end %>
