<div class="form-body">
  <%= f.hidden_field :comic_id, {value: params[:comic_id]} %>
	<div class="form-group form-md-line-input<%' has-error' unless @episode.errors[:name].blank? %>">
		<label class="col-md-3 control-label" for="form_control_1">Name</label>
		<div class="col-md-9">
      <%= f.text_field :name, class: "form-control#{' error' unless @episode.errors[:name].blank?}", placeholder: 'Enter Name', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @episode.errors[:details].blank? %>">
		<label class="col-md-3 control-label" for="form_control_1">Details</label>
		<div class="col-md-9">
      <%= f.text_field :details, class: "form-control#{' error' unless @episode.errors[:details].blank?}", placeholder: 'Enter Details', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @episode.errors[:comic_id].blank? %>">
		<label class="col-md-3 control-label" for="form_control_1">Comic</label>
		<div class="col-md-9">
      <%= f.select :comic_id, comic_options, {selected: params[:comic_id]}, class: "form-control input-xlarge select2me#{' error' unless @episode.errors[:comic_id].blank?}", "data-placeholder" => "Select Comic..." %>
			<div class="form-control-focus">
			</div>
		</div>
	</div>	
  <div class="form-group form-md-line-input<%' has-error' unless @episode.errors[:publish_at].blank? %>">
		<label class="col-md-3 control-label" for="form_control_1">Publish Time</label>
		<div class="col-md-5">
			<div class="input-group date form_datetime">
				<%= f.text_field :publish_at, value: datetime_value(@episode.publish_at), class: "form-control#{' error' unless @episode.errors[:publish_at].blank?}", size: 16, placeholder: 'Select Publish Time' %>	
				<span class="input-group-btn">
				<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
	</div>
  <div class="form-group form-md-line-input<%' has-error' unless @episode.errors[:retract_at].blank? %>">
		<label class="col-md-3 control-label" for="form_control_1">Retract Time</label>
		<div class="col-md-5">
			<div class="input-group date form_datetime">
				<%= f.text_field :retract_at, value: datetime_value(@episode.retract_at), class: "form-control#{' error' unless @episode.errors[:retract_at].blank?}", size: 16, placeholder: 'Select Retract Time' %>	
				<span class="input-group-btn">
				<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
	</div>

	<div class="form-group form-md-line-input<%' has-error' unless @episode.errors[:image].blank? %>">
		<label class="col-md-3 control-label" for="form_control_1">Image Upload</label>
 		<div class="col-md-5 fileinput fileinput-<%= @episode.image.exists? ? 'exists' : 'new' %>" data-provides="fileinput">
			<div class="fileinput-<%= @episode.image.exists? ? 'exists' : 'new' %> thumbnail">
			  <%= image_tag @episode.image.url(:medium) %>
			</div>
<!--			<div class="fileinput-preview fileinput-<%= !@episode.image.exists? ? 'exists' : 'new' %> thumbnail"></div> -->
			<div class="fileinput-previewimg fileinput-preview thumbnail" style="display:none;"></div>
      <div id="fileinput-noimage" class="fileinput-noimage thumbnail" style="display:none;">
			  <%= image_tag @episode.image.options[:default_url] %>
			</div>
			<div>
				<span class="btn default btn-file">
  				<span class="fileinput-new fileinput-noimage">Select image </span>
  				<span class="fileinput-exists fileinput-preview">Change </span>
				  <%= f.file_field :image, as: :file, class: "form-control#{' error' unless @episode.errors[:image].blank?}" %>
				</span>
				<a href="javascript:;" class="btn default fileinput-exists fileinput-preview" data-dismiss="fileinput">Remove </a>
			</div>
		</div>
	</div>

	<div class="form-group form-md-line-input<%' has-error' unless @episode.errors[:banner_image].blank? %>">
		<label class="col-md-3 control-label" for="form_control_1">Banner Image Upload</label>
 		<div class="col-md-5 fileinput fileinput-<%= @episode.banner_image.exists? ? 'exists' : 'new' %>" data-provides="fileinput">
			<div class="fileinput-<%= @episode.banner_image.exists? ? 'exists' : 'new' %> thumbnail">
			  <%= image_tag @episode.banner_image.url(:medium) %>
			</div>
<!--			<div class="fileinput-preview fileinput-<%= !@episode.banner_image.exists? ? 'exists' : 'new' %> thumbnail"></div> -->
			<div class="fileinput-previewimg fileinput-preview thumbnail" style="display:none;"></div>
      <div id="fileinput-noimage" class="fileinput-noimage thumbnail" style="display:none;">
			  <%= image_tag @episode.banner_image.options[:default_url] %>
			</div>
			<div>
				<span class="btn default btn-file">
  				<span class="fileinput-new fileinput-noimage">Select image </span>
  				<span class="fileinput-exists fileinput-preview">Change </span>
				  <%= f.file_field :banner_image, as: :file, class: "form-control#{' error' unless @episode.errors[:banner_image].blank?}" %>
				</span>
				<a href="javascript:;" class="btn default fileinput-exists fileinput-preview" data-dismiss="fileinput">Remove </a>
			</div>
		</div>
	</div>
</div>
