<div class="form-body">
	<div class="form-group form-md-line-input<%' has-error' unless @event.errors[:title].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Title</label>
		<div class="col-md-10">
      <%= f.text_field :title, class: "form-control#{' error' unless @event.errors[:title].blank?}", placeholder: 'Enter Title', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @event.errors[:date].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Date</label>
		<div class="col-md-6">
			<!--div class="input-group input-medium date" data-date="12-02-2012" data-date-viewmode="years"-->
		  <div class="input-group input-medium date" data-date-format="yyyy-mm-dd">
				<%= f.text_field :date, value: date_value(@event.date), class: "form-control#{' error' unless @event.errors[:date].blank?} input-medium date-picker", size: 16, placeholder: 'Select Date', 'data-date-format' => "yyyy-mm-dd" %>	
				<!--span class="input-group-btn">
				<button class="btn default date date-set" type="button"><i class="fa fa-calendar"></i></button>
				</span-->
			</div>
			<!-- /input-group -->
		</div>
	</div>	
	<div class="form-group form-md-line-input<%' has-error' unless @event.errors[:venues].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Venues</label>
		<div class="col-md-10">
      <%= f.text_field :venues, class: "form-control#{' error' unless @event.errors[:venues].blank?}", placeholder: 'Enter Venues', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @event.errors[:description].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Description</label>
		<div class="col-md-10">
      <%= f.text_area :description, class: "form-control autosizeme#{' error' unless @event.errors[:description].blank?}", placeholder: 'Enter Description', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input">
	  <label class="col-md-2 control-label" for="form_control_1">Tags</label>
		<div class="col-md-10">
      <%= f.select :tag_ids, tagging_options, {selected: @event.tags.collect(&:id)}, {class: "form-control input-xlarge select2me", multiple: true, id: 'form_control_1', "data-placeholder" => "Select Tags..."} %>
			<div class="form-control-focus"></div>
		</div>
	</div>
  <div class="form-group form-md-line-input<%' has-error' unless @event.errors[:publish_at].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Publish Time</label>
		<div class="col-md-6">
			<div class="input-group date form_datetime">
				<%= f.text_field :publish_at, value: datetime_value(@event.publish_at), class: "form-control#{' error' unless @event.errors[:publish_at].blank?}", size: 16, placeholder: 'Select Publish Time' %>	
				<span class="input-group-btn">
				<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
	</div>
  <div class="form-group form-md-line-input<%' has-error' unless @event.errors[:retract_at].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Retract Time</label>
		<div class="col-md-6">
			<div class="input-group date form_datetime">
				<%= f.text_field :retract_at, value: datetime_value(@event.retract_at), class: "form-control#{' error' unless @event.errors[:retract_at].blank?}", size: 16, placeholder: 'Select Retract Time' %>	
				<span class="input-group-btn">
				<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
			<!-- /input-group -->
		</div>
	</div>
</div>
