<div class="form-body">
	<div class="form-group form-md-line-input<%' has-error' unless @customer.errors[:email].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Email</label>
		<div class="col-md-10">
      <%= f.text_field :email, class: "form-control#{' error' unless @customer.errors[:email].blank?}", placeholder: 'Enter Email', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @customer.errors[:first_name].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">First Name</label>
		<div class="col-md-10">
      <%= f.text_field :first_name, class: "form-control#{' error' unless @customer.errors[:first_name].blank?}", placeholder: 'Enter First Name', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @customer.errors[:last_name].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Last Name</label>
		<div class="col-md-10">
      <%= f.text_field :last_name, class: "form-control#{' error' unless @customer.errors[:last_name].blank?}", placeholder: 'Enter Last Name', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @customer.errors[:username].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Username</label>
		<div class="col-md-10">
      <%= f.text_field :username, class: "form-control#{' error' unless @customer.errors[:username].blank?}", placeholder: 'Enter Username', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @customer.errors[:category_id].blank? %>">  	
		<label class="col-md-2 control-label" for="form_control_1">Gender</label>
		<div class="col-md-10">
			<div class="md-radio-inline">
			  <% gender_options.each do |name, id| %>
				<div class="md-radio">
					<%= f.radio_button :gender, id, class: 'md-radiobtn', id: "radio#{id}" %>
					<label for="radio<%= id %>">
					<span></span>
					<span class="check"></span>
					<span class="box"></span>
					<%= name %> </label>
				</div>
				<% end %>
			</div>
		</div>
	</div>
  <div class="form-group form-md-line-input<%' has-error' unless @customer.errors[:birthdate].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Birthdate</label>
		<div class="col-md-6">
			<!--div class="input-group input-medium date" data-date="12-02-2012" data-date-viewmode="years"-->
		  <div class="input-group input-medium date" data-date-format="yyyy-mm-dd">
				<%= f.text_field :birthdate, value: date_value(@customer.birthdate), class: "form-control#{' error' unless @customer.errors[:birthdate].blank?} input-medium date-picker", size: 16, placeholder: 'Select Birthdate', 'data-date-format' => "yyyy-mm-dd" %>	
				<!--span class="input-group-btn">
				<button class="btn default date date-set" type="button"><i class="fa fa-calendar"></i></button>
				</span-->
			</div>
			<!-- /input-group -->
		</div>
	</div>
</div>
