    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Order ID #<%= @order.id %></h1>
        </div>        
        <!-- /.col-lg-12 -->
    </div>    
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <ul>
                          <h3>Customer Info</h3>
                          <li>
                            <label>Customer ID:</label> <%= @order.customer_id %>
                          </li>
                          <li>
                            <label>Email:</label> <%= @order.customer.email %>
                          </li>
                          <li>
                            <label>Full Name:</label> <%= @order.customer.full_name %>
                          </li>
                          <%= link_to 'Edit Customer', edit_admin_store_customer_url(id: @order.customer.id), class: "btn btn-warning" %>
                        </ul>
                        <ul>
                          <h3>Order Info</h3>
                          <li>
                            <label>Status:</label> <%= @order.status %>
                          </li>
                          <li>
                            <label>Subtotal:</label> <%= @order.subtotal %>
                          </li>
                          <li>
                            <label>Tax:</label> <%= @order.tax %>
                          </li>
                          <li>
                            <label>Discount:</label> <%= @order.discount %>
                          </li>
                          <li>
                            <label>Shipping:</label> <%= @order.shipping %>
                          </li>
                          <li>
                            <label>Total:</label> <%= @order.total %>
                          </li>
                        </ul>
                        <ul>
                          <h3>Shipping Address</h3>
                          <li>
                            <label>Street:</label> <%= @order.shipping_address.street %>
                          </li>
                          <li>
                            <label>City:</label> <%= @order.shipping_address.city %>
                          </li>
                          <li>
                            <label>Region:</label> <%= @order.shipping_address.region %>
                          </li>
                          <li>
                            <label>Postal Code:</label> <%= @order.shipping_address.postal_code %>
                          </li>
                          <li>
                            <label>Country:</label> <%= @order.shipping_address.country %>
                          </li>
                        </ul>
                        <ul>
                          <h3>Billing Address</h3>
                          <li>
                            <label>Street:</label> <%= @order.billing_address.street %>
                          </li>
                          <li>
                            <label>City:</label> <%= @order.billing_address.city %>
                          </li>
                          <li>
                            <label>Region:</label> <%= @order.billing_address.region %>
                          </li>
                          <li>
                            <label>Postal Code:</label> <%= @order.billing_address.postal_code %>
                          </li>
                          <li>
                            <label>Country:</label> <%= @order.billing_address.country %>
                          </li>
                        </ul>
                      </div>
                      <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
                <%= render partial: 'orders/items_index' %>
                <div class="panel-body"><%= link_to 'Edit', edit_admin_store_order_url, class: "btn btn-warning" %></div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
