<div class="form-body">
	<div class="form-group form-md-line-input<%' has-error' unless @tag.errors[:status_id].blank? %>">  	
		<label class="col-md-2 control-label" for="form_control_1">Status</label>
		<div class="col-md-10">
			<div class="md-radio-inline">
			  <% status_options.each do |name, id| %>
				<div class="md-radio">
					<%= f.radio_button :status_id, id, class: 'md-radiobtn', id: "radio#{id}" %>
					<label for="radio<%= id %>">
					<span></span>
					<span class="check"></span>
					<span class="box"></span>
					<%= name %> </label>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @tag.errors[:name].blank? %>">
		<label class="col-md-2 control-label" for="form_control_1">Name</label>
		<div class="col-md-10">
      <%= f.text_field :name, class: "form-control#{' error' unless @tag.errors[:name].blank?}", placeholder: 'Enter Name', id: 'form_control_1' %>			
      <div class="form-control-focus"></div>
		</div>
	</div>
	<div class="form-group form-md-line-input<%' has-error' unless @tag.errors[:tag_type].blank? %>">  	
		<label class="col-md-2 control-label" for="form_control_1">Type</label>
		<div class="col-md-10">
			<div class="md-radio-inline">
			  <% type_options.each do |name, id| %>
				<div class="md-radio">
					<%= f.radio_button :tag_type, id, class: 'md-radiobtn', id: "radio#{id}" %>
					<label for="radio<%= id %>">
					<span></span>
					<span class="check"></span>
					<span class="box"></span>
					<%= name %> </label>
				</div>
				<% end %>
			</div>
		</div>
	</div>

</div>
