    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Roles
            <%= link_to 'Add Role', new_admin_settings_role_url, class: "btn btn-primary pull-right" %>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- Hover Rows -->
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <%= form_tag  sort_admin_settings_roles_url, {role: 'form', method: 'post'} do |f| %>
                    <div class="table-responsive">
                        <table class="table table-hover sortable sorted_table">
                            <thead>
                                <tr>
                                    <th>Sort</th>
                                    <th>Name</th>
                                    <th>Permissions</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>                              
                                <% @roles.each do |role| %>
                                <tr class="sort" id="<%= role.id %>">
                                    <%= hidden_field_tag "role[sort][#{role.id}][old]", role.sort %>
                                    <td><%= text_field_tag "role[sort][#{role.id}][new]", role.sort, class: 'form-control-size', placeholder: 'Sort #', size: 3, maxlength: 3 %></td>
                                    <td><%= role.name %></td>
                                    <td><%= role.permissions %></td>
                                    <td>
                                      <%= link_to 'Edit', edit_admin_settings_role_url(id: role.id), class: "btn btn-warning" %>
                                      <%= link_to 'Delete', admin_settings_role_url(id: role.id), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this role?" } %>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <div><%= button_tag 'Sort Role', type: 'submit', class: "btn btn-primary" %></div>
                    <!-- /.table-responsive -->
                <% end %>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
