        <div class="form-group">
            <label>Name</label>
            <%= f.text_field :name, class: "form-control#{' error' unless @gallery.errors[:name].blank?}", placeholder: 'Name' %>
            <!--p class="help-block">Example block-level help text here.</p-->
        </div>
        <div class="form-group">
            <label>Description</label>
            <%= f.text_field :description, class: "form-control#{' error' unless @gallery.errors[:description].blank?}", placeholder: 'Description' %>
            <!--p class="help-block">Example block-level help text here.</p-->
        </div>
        <div class="form-group">
            <label>Category ID</label>
            <%= f.select :category_id, category_options, class: "form-control#{' error' unless @gallery.errors[:category_id].blank?}" %>
        </div>
        <div class="form-group">
            <label>Image URL</label>
            <%= f.text_field :image_url, class: "form-control#{' error' unless @gallery.errors[:image_url].blank?}", placeholder: 'Image URL' %>
            <!--p class="help-block">Example block-level help text here.</p-->
        </div>
        <div class="form-group">
            <label>Publish Date</label>
            <%= f.date_field :publish_at, class: "form-control#{' error' unless @gallery.errors[:publish_at].blank?}" %>
        </div>        
        <div class="form-group">
            <label>Retract Date</label>
            <%= f.date_field :retract_at, class: "form-control#{' error' unless @gallery.errors[:retract_at].blank?}" %>
        </div>
        <% 1.upto(6).each do |i| %>
        <div class="form-group">
            <label>Image Upload <%= i %></label>
            <%= f.file_field "image#{i}", as: :file, class: "form-control#{' error' unless @gallery.errors["image#{i}"].blank?}" %>
        </div>        
        <% end %>
        <% unless @gallery.new_record? %>
        <% 1.upto(6).each do |i| %>
        <% if @gallery.send("image#{i}").exists? %>
        <div class="form-group">
            <label>Image Tag #<%= i %></label>
            <%= image_tag @gallery.send("image#{i}").url(:thumb) %>
        </div>
        <!--div class="form-group">
            <label>Image Tag #<%= i %></label>
            <%= image_tag @gallery.send("image#{i}").url(:medium) %>
        </div>
        <div class="form-group">
            <label>Image Tag #<%= i %></label>
            <%= image_tag @gallery.send("image#{i}").url %>
        </div-->
        <% end %>
        <% end %>
        <% end %>
        <!--div class="form-group">
            <label>File input</label>
            <input type="file">
        </div>
        <div class="form-group">
            <label>Text area</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Checkboxes</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Checkbox 1
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Checkbox 2
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Checkbox 3
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Inline Checkboxes</label>
            <label class="checkbox-inline">
                <input type="checkbox">1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox">2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox">3
            </label>
        </div>
        <div class="form-group">
            <label>Radio Buttons</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Radio 1
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio 2
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Radio 3
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Inline Radio Buttons</label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>1
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
            </label>
        </div>
        <div class="form-group">
            <label>Selects</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Multiple Selects</label>
            <select multiple class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div-->
