<a name="items"></a> 

    <%= form_tag sort_admin_store_product_items_url(product_id: @product.id), {role: 'form', method: 'post'} do |f| %>
    
    <div class="row">
  		<div class="col-md-12">
        <%= button_tag 'Sort Item', type: 'submit', class: "btn btn-primary pull-right" %>
      </div>
    </div>
    
    <!-- BEGIN PAGE CONTENT-->
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN SAMPLE TABLE PORTLET-->
				<div class="portlet">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cubes"></i> Items
						</div>
						<div class="tools">
						  <%= link_to raw('<i class="fa fa-plus"></i>'), new_admin_store_product_item_url(product_id: @product.id), alt: "Add" %>              
						  <a class="fullscreen" href="javascript:;" data-original-title="" title=""></a>
         			<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-scrollable">
							<table class="table table-striped table-bordered table-advance table-hover">
							<thead>
							<tr>
								<th><i class="fa fa-sort"></i> Sort</th>
								<th><i class="fa fa-photo"></i> Option</th>
								<th><i class="fa fa-info"></i> SKU</th>
								<th><i class="fa fa-money"></i> Price</th>
								<th><i class="fa fa-plus-square-o"></i> Sale Price</th>
								<th>&nbsp;</th>
							</tr>
							</thead>
							<tbody>
							  <% @product.items.each do |product_item| %>
							  <%= hidden_field_tag "product_item[sort][#{product_item.id}][old]", product_item.sort %>
							  <tr>
  								<td><%= text_field_tag "product_item[sort][#{product_item.id}][new]", product_item.sort, class: 'form-control-size', placeholder: 'Sort #', size: 3, maxlength: 3 %></td>
                  <td><%= product_item.option %></td>
                  <td><%= product_item.sku %></td>
                  <td class="value"><%= money_value(product_item.price) %></td>
                  <td class="value"><%= money_value(product_item.sale_price) %></td>
                  <td>
                    <%= link_to raw('<i class="icon-pencil"> Edit</i>'), edit_admin_store_product_item_url(product_id: @product.id, id: product_item.id), class: "btn btn-warning btn-xs" %>
                    <%= link_to raw('<i class="icon-trash"> Delete</i>'), admin_store_product_item_url(product_id: @product.id, id: product_item.id), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure you want to delete this product?" } %>
                  </td>
  							</tr>
							  <% end %>
							</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END SAMPLE TABLE PORTLET-->
			</div>
		</div>
		<!-- END PAGE CONTENT-->
		<% end %>
