        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <%= render partial: 'layouts/top_navbar' %>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!--li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </li-->
                        <li>
                            <%= link_to raw('<i class="fa fa-dashboard fa-fw"></i> Dashboard'), admin_dashboards_url %>
                        </li>
                        <li>
                            <%= link_to raw('<i class="fa fa-edit fa-fw"></i> Content<span class="fa arrow"></span>'), admin_contents_url %>
                            <ul class="nav nav-second-level">
                                <li>
                                    <%= link_to "Banners", admin_contents_banners_url %>
                                </li>
                                <!--li>
                                    < %= link_to "News", admin_contents_news_index_url % >
                                </li-->
                                <li>
                                    <%= link_to "Comics", admin_contents_comics_url %>
                                </li>
                                <!--li>
                                    < %= link_to "Episodes", admin_contents_episodes_url % >
                                </li>
                                <li>
                                    <%= link_to "Images", admin_contents_images_url %>
                                </li>
                                <li>
                                    < %= link_to "Galleries", admin_contents_galleries_url % >
                                </li>
                                <li>
                                    <%= link_to "Calender Events", admin_contents_events_url %>
                                </li-->
                                <li>
                                    <%= link_to raw('<i class="fa fa-edit fa-fw"></i> Categories'), admin_contents_categories_url %>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <%= link_to raw('<i class="fa fa-edit fa-fw"></i> Store<span class="fa arrow"></span>'), admin_store_url %>
                            <ul class="nav nav-second-level">
                                <li>
                                    <%= link_to "Customers", admin_store_customers_url %>
                                </li>
                                <li>
                                    <%= link_to "Products", admin_store_products_url %>
                                </li>
                                <li>
                                    <%= link_to "Orders", admin_store_orders_url %>
                                </li>
                                <li>
                                    <%= link_to raw('<i class="fa fa-edit fa-fw"></i> Collections'), admin_store_collections_url %>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <%= link_to raw('<i class="fa fa-table fa-fw"></i> Tags'), admin_tags_url %>
                        </li>
                        <!--li>
                            < %= link_to raw('<i class="fa fa-bar-chart-o fa-fw"></i> Maps<span class="fa arrow"></span>'), admin_maps_url % >
                            <ul class="nav nav-second-level">
                                <li>
                                    <  %= link_to "Flat Maps", {controller: 'maps', action: 'flat'} %  >
                                </li>
                                <li>
                                    <%= link_to "Google Maps", admin_maps_url %>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <%= link_to raw('<i class="fa fa-edit fa-fw"></i> Forms'), admin_forms_url %>
                        </li>
                        <li>
                            <%= link_to raw('<i class="fa fa-edit fa-fw"></i> Forms'), admin_forms_url %>
                        </li>
                        <li>
                            <%= link_to raw('<i class="fa fa-edit fa-fw"></i> Forms'), admin_forms_url %>
                        </li>
                        <li>
                            <%= link_to raw('<i class="fa fa-edit fa-fw"></i> Forms'), admin_forms_url %>
                        </li-->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
